@model FilmsCatalog.Models.ProducerEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <input asp-for="Genres" class="form-control" />
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_birth" class="control-label"></label>
                <input asp-for="Date_of_birth" class="form-control" />
                <span asp-validation-for="Date_of_birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place_of_birth" class="control-label"></label>
                <input asp-for="Place_of_birth" class="form-control" />
                <span asp-validation-for="Place_of_birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number_of_films" class="control-label"></label>
                <input asp-for="Number_of_films" class="form-control" />
                <span asp-validation-for="Number_of_films" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}